<ul class="nodes">
  <% @nodes.each do |node| %>
    <li class="node">
      <span class="label"><%= node.label %></span>
      <span class="value"><%= node.value %></span>
    </li>
  <% end %>
</ul>
