$node-size: 5em;

@mixin rounded-corners($radius) {
  border-radius: $radius;
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
}

ul.nodes {
  list-style: none;

  li {
    @include rounded-corners($node-size);

    display: block;
    width: $node-size;
    height: $node-size;
    border: 1px solid black;
    position: relative;
    margin: $node-size/2 0;

    span.label {
      position: absolute;
      left: 0;
      top: -1.5em;
    }

    span.value {
      position: absolute;
      font-size: $node-size/3;
      top: $node-size/5;
      left: 50%;
      margin-left: -1em;
    }
  }
}